@use '@wordpress/base-styles/variables' as v;
@use '@wordpress/base-styles/colors' as c;
/**
 * Appender
 */

.sagiriswd-tn .block-list-appender {
	position: relative;
}

/**
 * Submenus.
 */

// Show submenus above the sibling inserter.
.sagiriswd-tn .has-child {
	cursor: pointer;

	.sagiriswd-tn__submenu-container {
		z-index: z-index(".has-child .sagiriswd-tn__submenu-container");
	}

	&:hover {
		.sagiriswd-tn__submenu-container {
			z-index: z-index(".has-child:hover .sagiriswd-tn__submenu-container");
		}
	}

	// Show on editor selected, even if on frontend it only stays open on focus-within.
	// &.is-selected,
	// &.has-child-selected {
	// 	> .sagiriswd-tn__submenu-container {
			// We use important here because if the parent block is selected and submenus are present, they should always be visible.
			// visibility: visible !important;
			// opacity: 1 !important;
			// min-width: 200px !important;
			// height: auto !important;
			// width: auto !important;
			// overflow: visible !important;
// 		}
// 	}
}


/**
 * Navigation Items.
 */

.sagiriswd-tn-item {
	.sagiriswd-tn-item__content {
		cursor: text;
	}

	&.is-editing,
	&.is-selected {
		min-width: 20px;
	}

	.block-list-appender {
		margin-top: v.$grid-unit-20;
		// The right margin should be set to auto, so as to not shift layout in flex containers.
		margin-right: auto;
		margin-bottom: v.$grid-unit-20;
		margin-left: v.$grid-unit-20;
	}
}

.sagiriswd-tn-link__invalid-item {
	color: #000;
}

/**
 * Menu item setup state. Is shown when a menu item has no URL configured.
 */

.sagiriswd-tn-link__placeholder {
	position: relative;

	// While in a placeholder state, hide any underlines the theme might add.
	text-decoration: none !important;
	box-shadow: none !important;
	background-image: none !important;

	// Draw a wavy underline.
	.sagiriswd-tn-link__placeholder-text {
		span {
			text-decoration: wavy underline;
			text-decoration-skip-ink: none;
			text-underline-offset: 0.25rem;
		}
	}

	// This needs extra specificity.
	&.sagiriswd-tn-item__content {
		cursor: pointer;
	}
}

/**
* Link Control Transforms
*/

.link-control-transform {
	border-top: v.$border-width solid c.$gray-400;
	padding: 0 v.$grid-unit-20 v.$grid-unit-10 v.$grid-unit-20;
}

.link-control-transform__subheading {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	color: c.$gray-900;
	margin-bottom: 1.5em;
}

.link-control-transform__items {
	display: flex;
	justify-content: space-between;
}

.link-control-transform__item {
	flex-basis: 33%;
	flex-direction: column;
	gap: v.$grid-unit-10;
	height: auto;
}

.link-ui-page-creator {
	// Match LinkControl width constraints for consistent UI sizing
	max-width: 350px;
	min-width: auto;
	width: 90vw;
	padding-top: v.$grid-unit-10;

	&__inner {
		padding: v.$grid-unit-20;
	}

	&__back {
		margin-left: v.$grid-unit-10;
		text-transform: uppercase;
	}
}
